*.container {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: white;
    color: black;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: right;
    background-color: blue;
    color: black;
    font-size: 20px;
}
.hero {
    background-color: white;
    color: black;
    font-size: 20px;    
}
.hero-content {
    background-color: white;
    color: black;
    font-size: 20px;
}
.nav {
    background-color: yellow;
    color: black;
    font-size: 20px;
}